.container {
  padding: 15px;
  background-color: white;
  // margin: 0 30px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0;
  svg {
    color: #7367f0;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f3f2f7;
    color: #6e6b7b;
    --bs-btn-hover-bg: #f3f2f7;
    --bs-btn-active-bg: #f3f2f7;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 16px;
    padding: 5px 14px;
    font-size: 12px;
    height: 28px;
    background-color: #f3f2f7;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #6e6b7b;
      }
    }
    .purpleBtn {
      border-radius: 50%;
      background-color: #7367f0;
      color: white;
      padding: 11px 18px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
    }
  }
}
